.order-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.imageorder {
  display: flex;
  justify-content: center;
}

.imageorder img {
  width: 100%;
  max-width: 500px;
}

.textorder {
  text-align: center;
}

.tableorder {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .textorder h2 {
    font-size: 1.5rem;
  }

  .textorder p {
    font-size: 1rem;
  }

  .tableorder {
    padding: 0 10px;
  }
}
